body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
  transition: 0.25s;
}
h4{
	margin: 19px 0 5px 0;
    color: #fff;
    width: 100%;
    height: 12px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
}
.wrap {
  max-width: 1180px;
  margin: 0 auto;
  border: 2px solid blue;
}
.wrap_flex {
  display: flex;
  justify-content: center;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 305px;
}
.page-header {
  position: relative;
}

.box-header {
  background: #232838;
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0px 20px 20px 20px #232838;
  border: 2px solid red;
}

.nav {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav > li {
  padding: 0 20px;
  border-right: 2px solid #fff;
}
.nav > li:last-of-type {
  padding-right: 0;
}
.nav > li:last-child {
  border-right: none;
}

.nav a > img {
  margin: 1px;
  display: inline-block;
}
.svg {
  width: 50px;
  height: 50px;
}
.nav li a {
  display: flex;
  justify-content: center;
}
.nav li a:hover {
  color: #3dc054;
}

.submenu {
  display: none;
}
.hero-image {
  background-image: url(./img/slider1.png);
  background-size: cover;
  min-height: 700px;
  position: relative;
}
.hero-text {
  position: absolute;
  color: #fff;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: 160px;
  font-family: "Titillium Web";
}

h1 {
  font-size: 46px;
  font-weight: 400;
  line-height: 26px;
}

.hero-text p {
  font-size: 26px;
  font-weight: 400;
  max-width: 700px;
  margin: 40px auto;
}

.btn {
  background: none;
  border: 0;
  outline: none;
  padding: 14px 60px;
}

.btn-primary {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  background-color: #232838;
  transition: 0.25s;
  background-image: linear-gradient(to top, #1fa336 0%, #3dc054 100%);
}

.btn-primary:hover {
  background-image: linear-gradient(to top, #1a8a2c 0%, #35a84a 100%);
}

.btn-primary:active {
  background-image: linear-gradient(to top, #157525 0%, #2d913f 100%);
  box-shadow: 0;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news__item {
  width: 280px;
  height: 280px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.news__item img {
  position: absolute;
  left: 0;
  top: 0;
}

.news__box {
  background-color: rgba(255, 255, 255, 0.85);
  position: relative;
  z-index: 2;
  padding: 15px 18px;
}
.news__box:hover {
	background-color: rgba(255, 255, 255, 0.85);
	position: relative;
	z-index: 2;
	padding: 15px 18px;
	height: 100%;

  }

.news__box h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1f7c8f;
}

.news__box p {
  margin: 0;
  margin-top: 11px;
  font-size: 14px;
}

h2 {
  text-align: center;
  color: #232838;
  font-family: "Titillium Web";
  font-size: 46px;
  font-weight: 400;
  text-transform: uppercase;
}
.contact-us{
width: 100%;
height: 270px;
background-color: #1f7c8f;
position: relative;
}
.contact-us>h2{
	padding: 40px 0 0 0;
	color: #fff;
}
.inputs{
	display: flex;
    
    justify-content: space-between;
}
input[type="text"]:first-child{
	margin-bottom: 20px;
}

input::placeholder{
	color: #acacac;
	font-family: "Titillium Web";
	font-size: 16px;
	font-weight: 400;
	margin: 14px 0 13px 9px;
}
input{
	border-radius: 2px;
    border: 0;
    padding: 0 0 0 15px;
}
.name{
	width: 565px;
height: 40px;
background-color: #ffffff;
}
.contact_text {
	display: flex;
}
.box-footer{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box_inputs{
	margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box_inputs p{
	margin: 0 ;
	width: 368px;
	height: 32px;
	color: #ffffff;
	font-family: "Titillium Web";
	font-size: 14px;
	font-weight: 400;
	
}
.footer{
	width: 100%;
	position: absolute;
	background-color: #0e5f70;
	
}
/*.box-list{
	display: flex;
}*/
.box_list_one{
	display: flex;
    flex-wrap: wrap;
}
.list-one{
	list-style-type: none;
    padding: 0;
    margin: 0 94px 0 0;
    line-height: 28px;
}
.list-one li{
	font-family: "Titillium Web";
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
}
.box_list_two>input[type="text"]{
    width: 370px;
	margin: 15px 8px 0 0;
}

.btn-one{
	padding: 14px 15px;
}
.list_menu_one{
	list-style-type: none;
	font-family: "Titillium Web";
	padding: 0px;
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
}
.list_menu_on{
	padding-left: 95px;
	list-style-type: none;
	font-family: "Titillium Web";
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
}
.box_list_two>p{
	margin-top: 48px;
	color: #ffffff;
	font-family: "Titillium Web";
	font-size: 10px;
	font-weight: 400;

}

@media screen and (max-width: 1199px) {
	.row, .navbar {   
	  flex-direction: column;
	}
  }



































	




